{{!--
  ! Navigation
  !
  ! Left Navigation Rail
  !
  ! HANDLEBARS.JS version 4.7.7
  !
  ! @package    kzarshenas/crazyphp
  ! @author     kekefreedog <kevin.zarshenas@gmail.com>
  ! @copyright  2022-2023 Kévin Zarshenas
  !--}}
<div
    id="crazy-left-navigation-rail" 
    descriptive-id=""
    class=""
    partial="navigation"
>

    <div class="crazy-left-navigation-rail-always-visible">

        <nav>

            {{!-- Hello btn --}}
            <regular-btn data-redirect-name="Home" label="Hello world !" class="mb-4" size="large" shape="box" depth="1" icon-text="waving_hand"></regular-btn>

            {{!-- Button --}}
            <regular-btn data-redirect-name="Button" label="Button" class="mb-4" size="large" shape="box" depth="1" icon-text="adjust"></regular-btn>

            {{!-- Progress bar --}}
            <regular-btn data-redirect-name="Progressbar" label="Progress Bar" class="mb-4" size="large" shape="box" depth="1" icon-text="remove"></regular-btn>

            {{!-- Form --}}
            <regular-btn data-redirect-name="Form" label="Form" class="mb-4" size="large" shape="box" depth="1" icon-text="checklist"></regular-btn>

            {{!-- Request --}}
            <regular-btn data-redirect-name="Request" label="Request" class="mb-4" size="large" shape="box" depth="1" icon-text="swap_horiz"></regular-btn>

        </nav>

    </div>

    <div class="crazy-left-navigation-rail-collapsible">


    </div>

</div>